<section *ngIf="employees" class="panel-body">
  
    <form (ngSubmit)="findEmployeeById()" class="panel-body">
  
    <br>
  
    <div class="input-group">
        <span class="input-group-addon">UserName</span>
        <input type="text" class="form-control" required  name="idEmp" required [(ngModel)]="idEmployee" #idEmp="ngModel">
        <button (click)="getInfoOfEmployee($event)">Get Employees</button>
      </div>

       <table class="table table-hover">
         <thead>
           <tr>
             <th scope="col">name</th>
             <th scope="col">contractTypeName</th>
             <th scope="col">roleName</th>
             <th scope="col">anualHourlySalary</th>
             <th scope="col">anualMonthlySalary</th>
           </tr>
         </thead>
         <tbody>
             <tr class="table-active" *ngFor="let emp of employees">
               <td>
                 <a>{{emp.name}}</a>
               </td>
               <td>
                 <a>{{emp.contractTypeName}}</a>
               </td>
               <td>
                 <a>{{emp.roleName}}</a>
               </td>
               <td>
                 <a>{{emp.anualHourlySalary}}</a>
               </td>
               <td>
                 <a>{{emp.anualMonthlySalary}}</a>
               </td>
               <td align="center">
                    
               </td>  
             </tr>
         </tbody>
       </table>
  
      </form>
  </section> 
  